.Paper {
    text-align: left;
    padding: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-bottom: 2%;
    padding-top: 2%;
  }

.Grid {
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.Vote {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 60%;
}

.Title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.icon {
    height: 50px;
  }

.Header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    padding: 0%;
    margin: 0%;
}

.userBtn{
    text-align: center;
    color: purple;
    padding: 0%;
    margin: 0%;
    margin-left: 2%;
    margin-top: 30px;
}

.enter{
    font-size: 30px;
}

.spare{
    font-size: 1px;
    color: rgb(39, 71, 81);
}

.field{
    text-align: center;
    margin-left: 2%;
    margin-top: 30px;
}

.fieldText{
    text-align: center;
    margin-left: 2%;
    margin-top: 450px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}


.posting{
    text-align: center;
    margin-top: 30px;
}      

.txtbox{
    padding:10px;
    margin: 10px
} 

.headerbtn{
    margin-left: 35%;
} 

.logout{
    margin-left: 25%;
}

.fbBtn{
    margin-left: 30px;
}

.fb{
    text-align: center;
}


